{% if data.blocks.size > 0 %}
  <ui-grid
    class="image-text-blocks"
    direction="column"
  >
    {% for block in data.blocks %}
      <ui-grid-cell>
        <ui-image-text
          hr-position="{{ block.horizontal_position }}"
          vr-position="{{ block.vertical_position }}"
          hide-image="{{ block.hide_image }}"
        >
          <img is="ui-image"
            src="{{ block.image }}"
            title="{{ data.name }}"
            alt="{{ data.name }}"
            slot="image"
          >

          <ui-editor slot="content">
            {{ block.content | editable }}
          </ui-editor>
        </ui-image-text>
      </ui-grid-cell>
    {% endfor %}

  </ui-grid>
{% endif %}
